<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>canvas</title>
  <script src="./lib/fileup.js"></script>
  <!-- <link rel="stylesheet" href="./lib/css/fileup.css"> -->
</head>
<body>
  <!-- <div class="fileup">
    <label for="fileup" class="fileup-label" id="uplabel">请选择上传图片</label>
    <input type="file" id="fileup" class="fileup-input">
  </div> -->
  <FileUpToCanvas data-config='{"text": "hhha"}' data-imgstyle='{"width": "120px"}'></FileUpToCanvas>
</body>
<script>
</script>
</html>